/*
  General page styling
*/
$lightblue: rgb(0,77,153);
$darkgray: rgb(31,31,31);
$lightgray: rgb(237, 237, 237);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkgray;
  font: normal 16px sans-serif;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: white;

  &:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

/*
  Header Styling
*/

#mobile {
  border-top: 1px solid $lightgray;
  padding: 10px 0 6px 40px;
  li {
    a {
      font-size: 20px;
    }
    padding: 10px 0 0 0;
  }
  display: none;
  color: white;
  background-color: $lightblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 0;
  padding-left: 30px;
  padding-bottom: 20px;
  color: white;
  background-color: $lightblue;

  animation: 1s fadein 0.5s forwards;
  opacity: 0;

  .hamburger {
    display: none;
  }

  h2 {
    font-family: "Quicksand", sans-serif;
    a {
      padding: 10px;
      i {
        padding: 5px;
      }
    }

  }

  nav {
    display: flex;
    margin-right: -15px;
    li {
      margin: 0 15px;
    }
  }
}

@media only screen and (max-width: 470px)  {
  header {
    padding-right: 0px;
    li {
      display: none;
    }
  }

  button:focus {
    outline:0;
  }

  .hamburger {
    display: flex !important;
    color: $lightgray !important;
    span {
      bottom: 3px;
    }
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

/*
  landing Styling
*/

.landing {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: white;

  h1 {
    font: bold 40px "Open Sans", sans-serif;
    margin-bottom: 15px;
  }

  h3 {
    font: normal 18px "Open Sans", sans-serif;
    margin-bottom: 40px;
  }

}

/*
  Slide animation on landing
*/
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

/* Projects section */
.projects {
  background-color: $darkgray;
  color: $lightgray;
  .grid {
    li {
      height: 350px;
      padding: 20px;
      background-clip: content-box;
      background-size: cover;
      background-position: center;
    }
  }
}

/* About me section */

#about-intro, #side-projects-intro {
  background-color: $lightblue;
  color: white;
  line-height: 2rem;
  h2, p {
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 25px;
  }
}
#about-section {
  background-color: white;
  color: $lightblue;
  .info, .image {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
  }
  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .image {
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
  }
  h2 {
    padding-bottom: 15px;
    i {
      padding-right: 15px;
    }
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(187,187,187,.22);
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
  }
  p {
    font-size: 20px;
    font-weight: 200;
  }
  .image {
    img {
      width: 310px;
      border: 1px solid lightgray;
      border-radius: 50%;
    }
  }
  .about-card {
    display: flex;
    margin: 40px 0;
  }

  @media screen and (max-width: 767px) {
    .image {
      display: none;
    }
  }
}

#side-projects {
  background-color: $darkgray;
  .card {
    min-width: 300px !important;
  }
  .card-title {
    text-align: center;
  }
  h5 {
    font: bold 32px "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    color: $lightblue;
  }
  p {
    font-size: 20px;
    font-weight: 200;
    i {
      color: black;
      float: right;
      font-size: 40px;
      position: relative;
      bottom: 17px;
      &:hover {
        cursor: pointer;
        color: $darkgray;
      }
    }
  }
}

/* other */

.slider-text {
    border-radius: 5px;
    background: #1f1f1f;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px;
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;

}
strong {
  color: rgb(0,77,153);
}

/* card styling */
.card {
  min-width: 200px;
  padding: 0;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.card-body {
  position: relative;
  p.card-foot {
    position: absolute;
    bottom: 0;
    display: block;
    width: calc(100% - 2*1.25rem);
  }
  p.description {
    padding-bottom: 30px;
  }
}


@media only screen and (max-width: 850px)  {
  .card {
    min-width: 300px;
  }
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
}

/* */
